@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cabinet: var(--font-cabinet);
  --font-array: var(--font-array);

  /* Menetapkan Cabinet sebagai font default (sans) */
  --font-sans: var(--font-cabinet);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
html,
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
  /* Menjaga ruang scrollbar tetap ada meskipun scroll dimatikan */
  /* scrollbar-gutter: stable; */
  /* position: relative; */
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cabinet), ui-sans-serif, system-ui;
  overflow-x: hidden;
  cursor: none;
}

/* src/app/globals.css */
@media (min-width: 1024px) {
  /* Hilangkan kursor asli di desktop agar hanya kursor kustom yang terlihat */
  body,
  a,
  button {
    cursor: none !important;
  }
}
@keyframes wheel-move {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animate-wheel-move {
  animation: wheel-move 2s infinite cubic-bezier(0.19, 1, 0.22, 1);
}
