@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cabinet: var(--font-cabinet);
  --font-array: var(--font-array);

  /* Menetapkan Cabinet sebagai font default (sans) */
  --font-sans: var(--font-cabinet);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}
html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cabinet), ui-sans-serif, system-ui;
  overflow-x: hidden;
  cursor: none;
}

/* src/app/globals.css */
@media (min-width: 1024px) {
  /* Hilangkan kursor asli di desktop agar hanya kursor kustom yang terlihat */
  body,
  a,
  button {
    cursor: none !important;
  }
}
@keyframes wheel-move {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.animate-wheel-move {
  animation: wheel-move 2s infinite cubic-bezier(0.19, 1, 0.22, 1);
}

/* Matikan scroll secara paksa */
html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important; /* Force fixed biar gak bisa digeser sama sekali */
  touch-action: none !important;
  -ms-touch-action: none !important;
}

.mask-container {
  clip-path: inset(0 0 0 0);
}

.prose p {
  margin-top: 0 !important;
  margin-bottom: 0.25rem !important; /* Beri sedikit jarak antar paragraf */
}

.prose ul,
.prose ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
